.row-margin-top {
  margin-top: 10vh;
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.15);
}

.stylish-color {
  background-color: #4b515d;
}

.stylish-color-dark {
  background-color: #3e4551;
}

.white-font {
  color: white;
}

.footer-link {
  color: white;
}

.footer-link:hover {
  color: rgb(134, 134, 134);
}

.carousel {
  height: 50vh;
}

.margin-component {
  margin: 10vh 5% 0;
}
